@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0 0;
  min-height: 100vh;
  font-family: Source Sans Pro, sans-serif;
  /* background-color: #f7f6f9; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23628289' fill-opacity='0.13'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: linear-gradient(to right, rgb(65, 134, 125), rgb(201, 161, 105));
  background-color: initial;
  color: rgb(32, 31, 28);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.items {
  font-family: Source Sans Pro, sans-serif;
}
hr.style {
  border: 0;
  height: 1px;
  width: 700px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
  }
  ul {
    padding-left: 300px;
    list-style-type: "\1F44D";
  }
  li {
    text-align: left;
  }
  a {
    color: rgb(4, 56, 59);
    text-decoration: none;
  }

