@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Source Sans Pro, sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image container */

.image-container {
    margin: -20px 300px;
    border-radius: 10px;
    box-shadow: 0 21px 10px 10px rgba(0, 0, 0, 0.2)
}

.image-container img {
    width: 100%;
    margin-top: 10px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
    .image-container {
        margin: 10px 15px;
    }
}